:root {
  --primary: #3fc5f0;
  --secondary: #fcf9ea;
  --tertiary: #3c4245;
  --quartenary: #da2d2d;
}

body {
  margin: 0;
  font-variant: tabular-nums;
  line-height: 1.5;
}

* {
  font-family: Roboto, sans-serif;
}
